{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "env": {
    "development": {
      "plugins": ["dynamic-import-node"]
    }
  },
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}